

<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
        title: '404',
    }); %>

<body>
    <div class="container">
        <h1>404</h1>
        <h4>Сторінка не знайдена</h4>
        <a href="/">Повернутись на головну</a>
    </div>
</body>
<script type="text/javascript" src="/price.js"></script>
<%- include('./partials/footer'); %>


</html>