<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Додати курс'}); %>

<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>
            Добавить новый курс
        </h1>
        <a href="/">
            home page
        </a>
    </div>
</body>

<%- include('./partials/footer'); %>


</html>