<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title:'Головна'}); %>

<body>
    <%- include('./partials/navbar',
       { activePage: 'home'}
    ); %>
    <div class="container">
        <h1>
            Ласкаво просимо
        </h1>
        <p>Тут тільки найкращі курси</p>

    </div>
</body>

<%- include('./partials/footer'); %>

</html>