.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course {
    display: flex;
    width: 100%;
    align-items: center;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.course-form {
    margin-bottom: 2rem;
}

.auth {
    padding-top: 1rem;
}

.alert {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1rem;

    background: rgba(255, 0, 9, 0.3);
    color: white;
}

.avatar{
    max-width: 300px;
    height: auto;
}