.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course {
    display: flex;
    width: 100%;
    align-items: center;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.course-form{
    margin-bottom: 2rem;
}

.auth{
    padding-top: 1rem;
}